* {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%)
}

.section {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vh;
    height: 100vh;
    margin: auto;
    
}

@media screen and (max-width: 375px) {
    
    .section {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
        margin-top: 80px;
             
    }


}

.container {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    justify-content: start;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 20px;
    height: 500px;
    width: 330px;
    margin: auto;
    padding-top: 10px;
    
    
    
}

img {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    margin: 5px;
}

.boldText {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: hsl(218, 44%, 22%)
}


.smallText {   
    font-size: 15px;
    font-weight: 500;
    color: hsl(220, 15%, 55%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}